# See http://help.github.com/ignore-files/ for more about ignoring files.
/docker-compose.yml

target/
.checkstyle
.project
.classpath
.settings/
.svn/**/*
.svn
.springBeans
bin/

# IDEs and editors
**/.idea
.c9/
*.launch
*.sublime-workspace
*.iml

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.prettierrc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
generated

# Other
*.tokens
/redmatch-grammar/gen/
/redmatch-grammar/src/main/resources/redmatch-fhir-complex-types.json
/redmatch-grammar/src/main/resources/redmatch-fhir-resources.json
